@media (max-width: 1000px) {
    .booking-form {
        margin: 0 10px;
    }
    .top-wrapper {
          font-size: 32px;
    }
    
}

@media (max-width: 670px) {
    
    .booking-form {
        width:100%;
    }
    .form{
        width:50%;
    
    }
}
